<ion-header>
  <ion-navbar color="light">
    <ion-title><b>{{locationID}} - {{date}}</b></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar padding [(ngModel)]="searchText" [showCancelButton]="showCancel" [animated]="animate" [autocorrect]="correct"
    [spellcheck]="spell" [debounce]="bounce" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)" 
    class="search" color="light">
  </ion-searchbar>

  <ion-fab middle right #fab>
    <button ion-fab mini color="primary"><ion-icon name="md-funnel"></ion-icon></button>
    <ion-fab-list side="down">
      <button ion-fab color="primary2" (click)="sort(0, fab)"><ion-icon name="videocam"></ion-icon></button>
      <button ion-fab color="secondary" (click)="sort(1, fab)"><ion-icon name="md-star"></ion-icon></button>
      <button ion-fab color="drkRed" (click)="sort(2, fab)"><ion-icon name="md-time"></ion-icon></button>
      <button ion-fab color="drkGrey" (click)="sort(3, fab)"><ion-icon name="md-swap"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-grid>    

    <ion-row *ngIf="desktop">
      <ion-col *ngFor="let movie of filteredMovies" col-3>

        <ion-card (click)="movieClick(movie.imdbID)" style="height: 100%; position: relative; cursor: auto;">
          <ion-item>
            <h2 style="text-align: center;"><b>{{movie.Title}}</b></h2>
          </ion-item>
        
          <img src="{{movie.Poster}}" style="display: block; height: 400px; cursor: pointer;">
        
          <ion-card-content style="padding-bottom: 1px;">
            <p style="text-align: center;">{{movie.Released | released}}</p>
            <p style="text-align: center;">{{movie.Genre}}</p>
          </ion-card-content>
        
          <ion-row justify-content-between>
            <ion-col text-center align-self-center *ngFor="let show of movie.Shows">
              <button ion-button clear small color="primary2" style="cursor: pointer;">{{show.time | time12}}</button>
            </ion-col>
          </ion-row>
                    
          <ion-row nowrap style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">
            <ion-col text-center align-self-center>
              <button *ngIf="movie.imdbRating > '5.0'" ion-button icon-start clear small color="secondary" style="cursor: default;">
                <ion-icon name="md-thumbs-up"></ion-icon>
                <b>{{movie.imdbRating}}</b>
              </button>
              <button *ngIf="movie.imdbRating <= '5.0'" ion-button icon-start clear small color="danger" style="cursor: default;">
                <ion-icon name="md-thumbs-down"></ion-icon>
                <b>{{movie.imdbRating}}</b>
              </button>
            </ion-col>
  
            <ion-col text-center align-self-center>
              <button ion-button icon-start clear small color="dark" style="cursor: default;">
                <ion-icon name="md-time" ></ion-icon>
                <b>{{movie.Runtime | runtime}}</b>
              </button>
            </ion-col>
  
            <ion-col *ngIf="movie.Rated != 'UNRATED' && movie.Rated != 'NOT RATED'" text-center align-self-center>
              <button ion-button clear small color="drkRed" style="cursor: default;">
                <b>{{movie.Rated}}</b>
              </button>
            </ion-col>
          </ion-row>

        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row *ngIf="!desktop">

      <ion-card *ngFor="let movie of filteredMovies" (click)="movieClick(movie.imdbID)" style="cursor: auto;">
        <ion-item>
          <h2 text-wrap style="text-align: center;"><b>{{movie.Title}}</b></h2>
        </ion-item>
      
        <img src="{{movie.Poster}}" style="display: block; height: 350px; cursor: pointer;">
      
        <ion-card-content>
          <p text-wrap style="text-align: center;">{{movie.Released | released}}</p>
          <p text-wrap style="text-align: center;">{{movie.Genre}}</p>
        </ion-card-content>
      
        <ion-row justify-content-between>
          <ion-col text-center align-self-center *ngFor="let show of movie.Shows">
            <button ion-button clear small color="primary2" style="cursor: pointer;">{{show.time | time12}}</button>
          </ion-col>
        </ion-row>
        
        <ion-row nowrap>
          <ion-col text-center align-self-center>
            <button *ngIf="movie.imdbRating > '5.0'" ion-button icon-start clear small color="secondary" style="cursor: default;">
              <ion-icon name="md-thumbs-up"></ion-icon>
              <b>{{movie.imdbRating}}</b>
            </button>
            <button *ngIf="movie.imdbRating <= '5.0'" ion-button icon-start clear small color="danger" style="cursor: default;">
              <ion-icon name="md-thumbs-down"></ion-icon>
              <b>{{movie.imdbRating}}</b>
            </button>
          </ion-col>

          <ion-col text-center align-self-center>
            <button ion-button icon-start clear small color="dark" style="cursor: default;">
              <ion-icon name="md-time" ></ion-icon>
              <b>{{movie.Runtime | runtime}}</b>
            </button>
          </ion-col>

          <ion-col *ngIf="movie.Rated != 'UNRATED' && movie.Rated != 'NOT RATED'" text-center align-self-center>
            <button ion-button clear small color="drkRed" style="cursor: default;">
              <b text-wrap>{{movie.Rated}}</b>
            </button>
          </ion-col>
        </ion-row>

      </ion-card>

    </ion-row>

  </ion-grid> 

</ion-content>
