<ion-header>
  <ion-navbar>
    <ion-title>Orders</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding overflow-scroll="false">
  <button ion-button block outline icon-start color="light" *ngIf="!showLocations" (click)="changeLocation()">
    <ion-icon name="locate"></ion-icon>
    Change Location
  </button>
  <h4 text-wrap *ngIf="locationName && !showLocations" style="color: #f4f4f4; text-align: center;"><b >Orders at {{locationName}}</b></h4>
  
  <ion-list *ngIf="showLocations">
    <button ion-item  *ngFor="let location of locations | async" (click)="selectLocation(location)">
      <h2 text-wrap>{{location.name}}</h2>
      <p text-wrap>{{location.address}}</p>
      <p text-wrap>{{location.theatres.length}} theatres</p>
    </button>
  </ion-list>

  <ion-list *ngIf="!showLocations">
    <ion-card *ngFor="let order of orders | async">
      <ion-card-header>
        Ordered By: {{order.customerName}}<br>
        Total: {{order.totalPrice | currency:'CAD':'1.2-2'}}
      </ion-card-header>
      <ion-card-content>
        <ion-row nowrap *ngFor="let item of order.items" justify-content-center class="middle">
          <ion-col>{{item.name}}</ion-col>
          <ion-col>QTY: {{item.quantity}}</ion-col>
        </ion-row>  
        <button ion-button outline block outline color="drkRed" (click)="prepared(order)">Finished Preparing</button>
      </ion-card-content>
    </ion-card>
  </ion-list>  
</ion-content>
