<ion-header>

  <ion-navbar color="dark">
    <ion-title *ngIf="!showSignup"><b>Login</b></ion-title>
    <ion-title *ngIf="showSignup"><b>Sign Up</b></ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close" color="light"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
    <h1 style="color: #0e2f44;"><b>CINEXPRESS</b></h1>
    <h5 style="color: #0e2f44; text-align: justify;">An unique experience for people who love going to the movies and wish for more</h5>
    <br>

    <ion-list *ngIf="!showSignup">
      <form [formGroup]="formSignIn" (ngSubmit)="login()" method="post">
        <ion-item-group>  
          <ion-item>
            <ion-label stacked>Email Address</ion-label>
            <ion-input formControlName="email" type="text" id="email" required="required"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Password</ion-label>
            <ion-input formControlName="password" type="password" id="password" required="required" clearOnEdit=false></ion-input>
          </ion-item>

          <div style="text-align:right; margin-top: 5px;">
            <a (click)='forgotPassword()'>Forgot your password?</a>
          </div>            

          <button ion-button block large padding color="primary2" type="submit" style="margin-top:30px; margin-bottom: 15px;">
            Login
          </button>
        </ion-item-group>
      </form>

      <button ion-button block large outline padding (click)="showSignUp()" color="drkRed">Create New Account</button>
    </ion-list>

    <ion-list *ngIf="showSignup">
      <form [formGroup]="formSignUp" (ngSubmit)="signUp()" method="post">
        <ion-item-group>  
          <ion-item>
            <ion-label stacked>Name</ion-label>
            <ion-input formControlName="name" type="text" id="name" required="required"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Email Address</ion-label>
            <ion-input formControlName="email" type="text" id="email" required="required"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Credit Card #</ion-label>
            <ion-input formControlName="card" type="text" maxlength="16" id="card" required="required"></ion-input>
          </ion-item> 

          <ion-item>
            <ion-label stacked>Password</ion-label>
            <ion-input formControlName="password" type="password" id="password" required="required" clearOnEdit=false></ion-input>
          </ion-item>     

          <button ion-button block large padding color="drkRed" type="submit" style="margin-top:30px; margin-bottom: 15px;">
            Sign Up
          </button>
        </ion-item-group>
      </form>
    </ion-list>
</ion-content>
