page-login {
    .content {
        background: #f4f4f4
    }

    h5 {
        text-align: center;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        color: #ff4444;
    }

    a {
        text-align: right;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
    }
}
