<ion-header>

  <ion-navbar color="dark">
    <ion-title *ngIf="!showSignup"><b>Login</b></ion-title>
    <ion-title *ngIf="showSignup"><b>Sign Up</b></ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close" color="light"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
    <h1>Movie App</h1>
    <h3>An enhanced movie experience</h3>

    <ion-list *ngIf="!showSignup">
      <ion-item>
        <ion-label floating>Email Address</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="pass"></ion-input>
      </ion-item>

      <button ion-button block large padding (click) ="login()" color="primary2" style="margin-top:30px; margin-bottom: 15px;">Login</button>
      <button ion-button block large outline padding (click)="showSignUp()" color="drkRed">Create New Account</button>
    </ion-list>

    <ion-list *ngIf="showSignup">
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Email Address</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>      
    
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="pass"></ion-input>
      </ion-item>

      <button ion-button block large padding outline (click)="signUp()" color="drkRed" style="margin-top:30px; margin-bottom: 15px;">Sign Up</button>
    </ion-list>

</ion-content>
