<ion-header>
  <ion-navbar color="light">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <b>Cinexpress</b>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-select [(ngModel)]="date" (ionChange)="changeDate()" [selectOptions]="selectOptions" style="max-width: 100% !important; width: 100%; text-align: center;">
      <ion-option *ngFor="let date of dates" [value]="date">{{date}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-list margin-top>
    <ion-row *ngFor="let location of locations | async">
      <button ion-item  (click)="locationSelect(location)">
        <h2 text-wrap>{{location.name}}</h2>
        <p text-wrap>{{location.address}}</p>
        <p text-wrap>{{location.theatres.length}} theatres</p>
      </button>
    </ion-row>
  </ion-list>
</ion-content>
