$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";
@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";

$colors: (
  primary:    #488aff,
  primary2:   #088da5,
  secondary:  #008000,
  danger:     #ff4444,

  light:      #f4f4f4,
  dark:       #222,

  drkRed:     #800000,
  drkGrey:    #0e2f44, 
);

$toast-ios-background:(#0e2f44);
$toast-md-background:(#0e2f44);
$toast-wp-background:(#0e2f44);
$toast-ios-title-color:(#f4f4f4);
$toast-md-title-color:(#f4f4f4);
$toast-wp-title-color:(#f4f4f4);
$toast-ios-title-font-size:(1.80rem);
$toast-md-title-font-size:(1.80rem);
$toast-md-title-font-size:(1.80rem);

$loading-md-spinner-dots-color:(#0e2f44);
$loading-wp-spinner-dots-color:(#0e2f44);
$loading-ios-spinner-dots-color:(#0e2f44);
