<ion-menu [content]="nav" persistent="true" side="left">
    <ion-header>
        <ion-toolbar color="light">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
  
    <ion-content>
        <ion-list no-lines>
            <button ion-item menuClose ion-item (click)="home()" color="dark">
                <ion-icon name="home" color="primary" item-left></ion-icon>
                <b>Home</b>
            </button>

            <button ion-item menuClose ion-item (click)="upcomingMovies()" color="dark">
                <ion-icon name="play" color="danger" item-left></ion-icon>
                <b>Upcoming Movies</b>
            </button>

            <button ion-item menuClose ion-item (click)="account()" color="dark" *ngIf="loggedIn">
                <ion-icon name="person" color="light" item-left></ion-icon>
                <b>My Account</b>
            </button>

            <button ion-item menuClose ion-item (click)="employee()" color="dark" *ngIf="loggedIn">
                <ion-icon name="logo-usd" color="secondary" item-left></ion-icon>
                <b>Employee Portal</b>
            </button>

            <button ion-item menuClose ion-item (click)="login()" color="dark" *ngIf="!loggedIn">
                <ion-icon name="log-in" color="drkRed" item-left></ion-icon>
                <b>Login</b>
            </button>

            <button ion-item menuClose ion-item (click)="logout()" color="dark" *ngIf="loggedIn">
                <ion-icon name="log-out" color="drkRed" item-left></ion-icon>
                <b>Logout</b>
            </button>
        </ion-list>
    </ion-content>
    
</ion-menu>

<ion-nav [root]="root" #nav></ion-nav>
