<ion-header>
  <ion-navbar color="light">
    <ion-title><b>Checkout</b></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-title style="padding-left: 15px;"><b>{{movieTitle}}</b></ion-card-title>
    <ion-card-header>
      {{movieRuntime | runtime}}<br>
      {{show.time | time12}} - {{show.unixDate | timeUnix: 'dddd, MMM DD'}}<br><br>
      {{show.type}}<br>
      {{show.price | currency:'CAD':'1.2-2'}} per person<br>
      Theatre #{{show.theatreNum}}
    </ion-card-header>

    <ion-card-content>
      {{location.name}}<br>
      {{location.address}}<br>
    </ion-card-content>    
  </ion-card>

  <ion-grid padding>
    <ion-row class="noClick">
      <button ion-button block outline color="light" text-center>Theatre #{{show.theatreNum}} Screen</button>
    </ion-row>

    <ion-row *ngFor="let row of rows" nowrap justify-content-around>

      <ion-col *ngFor="let col of cols">
        <button ion-button ion-only small color="danger" *ngIf="isSeatTaken(row, col)">
          <ion-icon name="custom-seat" color="dark"></ion-icon>
        </button>

        <button ion-button ion-only small (click)="clickSeat(row, col)" color="secondary" 
        *ngIf="isSeatSelected(row, col) && !isSeatTaken(row, col)">
          <ion-icon name="custom-seat" color="dark"></ion-icon>
        </button>

        <button ion-button ion-only small (click)="clickSeat(row, col)" color="light" 
        *ngIf="!isSeatSelected(row, col) && !isSeatTaken(row, col)">
          <ion-icon name="custom-seat" color="dark"></ion-icon>
        </button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-card *ngIf="selectedSeats.length > 0" class="middle">
    <ion-card-header>
      <b>{{selectedSeats.length}} seat(s) selected</b><br>
      <b>Total Price: {{calculateTotal() | currency:'CAD':'1.2-2'}}</b><br>
      <ion-row>
        <ion-col *ngFor="let seat of selectedSeats">
          <ion-item text-center no-lines>
            <ion-icon name="custom-seat" color="secondary"></ion-icon>
            {{seat.row | seat:'row'}}{{seat.col | seat:'col'}}
          </ion-item>
        </ion-col>      
      </ion-row>
    </ion-card-header>
    <button ion-button block color="secondary" (click)="checkout()">Checkout with&nbsp;&nbsp;&nbsp;{{card | card}}</button>
  </ion-card>

</ion-content>
