<ion-header>

  <ion-navbar color="light">
    <ion-title *ngIf="current"><b>{{movie.Title}} at {{locationID}}</b></ion-title>
    <ion-title *ngIf="!current"><b>{{movie.Title}}</b></ion-title>
  </ion-navbar>
</ion-header>
    
<ion-content padding>

  <ion-grid no-padding>
    <ion-row align-items-stretch>
      
      <ion-col col-auto align-self-stretch>
        <img *ngIf="desktop" src="{{movie.Poster}}" style="display: block; width: 450px;">
        <img *ngIf="!desktop" src="{{movie.Poster}}" style="display: block; height: 400px; width: 450px;">
      </ion-col>
  
      <ion-col>
          <div class="info">
              <h2 text-wrap><b>{{movie.Title}}</b></h2>
              <p text-wrap>{{movie.Released | released}}</p>
              <p text-wrap style="text-align: justify;">{{movie.Genre}}</p>
              <p *ngIf="movie.Awards != 'N/A'" text-wrap style="text-align: justify;">Awards: {{movie.Awards}}</p>
              <br>

              <p text-wrap style="text-align: justify;">Director: {{movie.Director}}</p>
              <p text-wrap style="text-align: justify;">Writers: {{movie.Writer}}</p>
              <p text-wrap style="text-align: justify;">Actors: {{movie.Actors}}</p>
              <br>

              <p text-wrap style="text-align: justify;">Country: {{movie.Country}}</p>
              <p text-wrap style="text-align: justify;">Language: {{movie.Language}}</p>
              <br> 

              <p *ngIf="movie.BoxOffice != 'N/A'" text-wrap style="text-align: justify;">Box Office: {{movie.BoxOffice}}</p>
              <p *ngIf="movie.Production != 'N/A'" text-wrap style="text-align: justify;">Production: {{movie.Production}}</p>
              <a *ngIf="movie.Website != 'N/A'" href="{{movie.Website}}" target="_blank">Visit Movie Website</a>

              <p text-wrap style="text-align: justify; padding-top: 25px;" >{{movie.Plot}}</p>

              <ion-row *ngIf="current" nowrap>
                <ion-col text-center align-self-center>
                  <ion-item color="light" *ngIf="movie.imdbRating > '5.0'" no-lines text-center>
                    <ion-icon name="md-thumbs-up" color="secondary"></ion-icon>
                    <b style="color: #008000">{{movie.imdbRating}}</b>
                  </ion-item>

                  <ion-item color="light" *ngIf="movie.imdbRating <= '5.0'" no-lines text-center>
                    <ion-icon name="md-thumbs-down" color="danger"></ion-icon>
                    <b style="color: #ff4444">{{movie.imdbRating}}</b>
                  </ion-item>
                </ion-col>
      
                <ion-col text-center align-self-center>
                  <ion-item color="light" no-lines text-center>
                    <ion-icon name="md-time"></ion-icon>
                    <b>{{movie.Runtime | runtime}}</b>
                  </ion-item>
                </ion-col>
      
                <ion-col *ngIf="movie.Rated != 'UNRATED' && movie.Rated != 'NOT RATED'" text-center align-self-center>
                  <ion-item color="light" no-lines text-center>
                    <b text-wrap style="color: #800000">{{movie.Rated}}</b>
                  </ion-item>
                </ion-col>                
              </ion-row>

              <ion-row *ngIf="current" justify-content-between>
                <ion-col text-center align-self-center *ngFor="let show of movie.Shows">
                  <button ion-button outline color="primary2" [disabled]="!isShowValid(show)" (click)="showSelected(show)">
                    {{show.time | time12}}
                  </button>                  
                </ion-col>
              </ion-row>

              <ion-row>
                <button ion-button block outline color="dark" *ngIf="showVideos" (click)="showTrailers()">View Trailers</button>
              </ion-row>
          </div>
      </ion-col>
  
    </ion-row>
  </ion-grid>

</ion-content>
  