<ion-header (swipe)="swiped($event)">
  <ion-toolbar color="light">
    <ion-title><b>Ticket(s) for {{ticket.movieName}}</b></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close" color="dark"></ion-icon>
      </button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-title style="padding-left: 15px;"><b>{{ticket.movieName}}</b></ion-card-title>
    <ion-card-header>
      {{ticket.show.type}}<br>
      Theatre #{{ticket.show.theatreNum}}<br>
      {{ticket.show.time | time12}}<br>
      {{ticket.show.unixDate | timeUnix: 'dddd, MMM DD'}}<br>        
    </ion-card-header>

    <ion-card-content>
      {{ticket.location.name}}<br>
      {{ticket.location.address}}<br>
    </ion-card-content>  
    
    <ion-card-header class="middle">
      Total Price: {{ticket.price | currency:'CAD':'1.2-2'}}<br>
      {{ticket.seats.length}} seat(s)<br>
      <ion-row>
        <ion-col *ngFor="let seat of ticket.seats">
          <ion-item text-center no-lines>
            <ion-icon name="custom-seat" color="secondary"></ion-icon>
            {{seat.row | seat:'row'}}{{seat.col | seat:'col'}}
          </ion-item>
        </ion-col>      
      </ion-row>
    </ion-card-header>    
  </ion-card>

  <div *ngIf="orders.length > 0">
    <h6 style="color: #f4f4f4; margin-top: 30px; margin-left: 15px;">Your concession order(s) for this movie</h6>
    <ion-card *ngFor="let order of orders">
      <ion-card-header text-wrap>
        Total: {{order.totalPrice | currency:'CAD':'1.2-2'}}<br>
        {{order.orderedOn | timeUnix: 'hh:mma'}}<br>
        {{order.status | status}}
      </ion-card-header>
      <ion-card-content class="middle">
        <ion-row nowrap *ngFor="let item of order.items" justify-content-center class="middle">
          <ion-col>{{item.name}}</ion-col>
          <ion-col>QTY: {{item.quantity}}</ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
              <button ion-button outline block *ngIf="order.status == 0" color="secondary" (click)="prepare(order)">Prepare</button>
          </ion-col>
          <ion-col>
            <button ion-button outline block *ngIf="order.status == 0" color="drkRed" (click)="refundOrder(order)">Cancel</button>
          </ion-col>
        </ion-row> 
        
      </ion-card-content>
    </ion-card>
  </div>
  

  <button ion-button block padding color="secondary" (click)="addConcessions()" *ngIf="canOrder">
    Add Concessions
  </button>

  <button ion-button block padding color="danger" (click)="refundTicket()">
    Refund Ticket
  </button>

  <ion-item *ngIf="code" text-center color="dark" no-lines>
    <ngx-qrcode [qrc-value]="code"></ngx-qrcode>
  </ion-item>

  <button ion-button block padding color="light" (click)="viewDetails(true)" *ngIf="!viewMovie">
    Movie Details
  </button>
  <button ion-button block padding outline color="light" (click)="viewDetails(false)" *ngIf="viewMovie">
    Cancel
  </button>  
  <ion-grid no-padding *ngIf="viewMovie">
    <ion-row align-items-stretch>
      
      <ion-col col-auto align-self-stretch>
        <img src="{{movie.Poster}}" style="display: block; height: 450px; width: 525px;">
      </ion-col>
  
      <ion-col>
          <div class="info">
              <h2 text-wrap><b>{{movie.Title}}</b></h2>
              <p text-wrap>{{movie.Released | released}}</p>
              <p text-wrap style="text-align: justify;">{{movie.Genre}}</p>
              <p *ngIf="movie.Awards != 'N/A'" text-wrap style="text-align: justify;">Awards: {{movie.Awards}}</p>
              <br>

              <p text-wrap style="text-align: justify;">Director: {{movie.Director}}</p>
              <p text-wrap style="text-align: justify;">Writers: {{movie.Writer}}</p>
              <p text-wrap style="text-align: justify;">Actors: {{movie.Actors}}</p>
              <br>

              <p text-wrap style="text-align: justify;">Country: {{movie.Country}}</p>
              <p text-wrap style="text-align: justify;">Language: {{movie.Language}}</p>
              <br> 

              <p *ngIf="movie.BoxOffice != 'N/A'" text-wrap style="text-align: justify;">Box Office: {{movie.BoxOffice}}</p>
              <p *ngIf="movie.Production != 'N/A'" text-wrap style="text-align: justify;">Production: {{movie.Production}}</p>
              <a *ngIf="movie.Website != 'N/A'" href="{{movie.Website}}" target="_blank">Visit Movie Website</a>

              <p text-wrap style="text-align: justify; padding-top: 25px;" >{{movie.Plot}}</p>

              <ion-row nowrap>
                <ion-col text-center align-self-center>
                  <ion-item color="light" *ngIf="movie.imdbRating > '5.0'" no-lines text-center>
                    <ion-icon name="md-thumbs-up" color="secondary"></ion-icon>
                    <b style="color: #008000">{{movie.imdbRating}}</b>
                  </ion-item>

                  <ion-item color="light" *ngIf="movie.imdbRating <= '5.0'" no-lines text-center>
                    <ion-icon name="md-thumbs-down" color="danger"></ion-icon>
                    <b style="color: #ff4444">{{movie.imdbRating}}</b>
                  </ion-item>
                </ion-col>
      
                <ion-col text-center align-self-center>
                  <ion-item color="light" no-lines text-center>
                    <ion-icon name="md-time"></ion-icon>
                    <b>{{movie.Runtime | runtime}}</b>
                  </ion-item>
                </ion-col>
      
                <ion-col *ngIf="movie.Rated != 'UNRATED' && movie.Rated != 'NOT RATED'" text-center align-self-center>
                  <ion-item color="light" no-lines text-center>
                    <b text-wrap style="color: #800000">{{movie.Rated}}</b>
                  </ion-item>
                </ion-col>                
              </ion-row>

              <ion-row>
                <button ion-button block outline color="dark" (click)="showTrailers()" *ngIf="movie.Videos != undefined && movie.Videos != null && movie.Videos.length != 0">
                  View Trailers
                </button>
              </ion-row>
          </div>
      </ion-col>
  
    </ion-row>
  </ion-grid>
</ion-content>
