<ion-header>
    <ion-navbar color="dark">
      <ion-title>Upcoming Movies</ion-title>
  
        <ion-buttons end>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
        
    </ion-navbar>
  </ion-header>


<ion-content padding>

  <ion-card *ngFor="let movie of movies | async">
    <ion-item>
      <h2>{{movie.Title}}</h2>
      <p>{{movie.Year}}</p>
    </ion-item>
  
    <img *ngIf="!desktop" src="{{movie.Poster}}">
    <img *ngIf="desktop" src="{{movie.Poster}}">
  
    <ion-card-content>
      <p style="text-align: justify;">{{movie.Plot}}</p>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{movie.imdbRating}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="clock"></ion-icon>
          <div>{{movie.Runtime}}</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <button ion-button clear small>
          <div>{{movie.Rated}}</div>
        </button>
      </ion-col>
    </ion-row>  
  </ion-card>

</ion-content>